

.contenedor {
    
    background-color: rgb(12, 12, 12);
    
	font-family: 'Times New Roman', Times, serif;
    font-size: 1.8vw;
    color: azure;    	
}

/* clase de Grilla general */
.grilla {
    display: grid;
	gap: 10px 10px;
	grid-template-columns: repeat(12, 1fr);
}

/* Header + Nav */

/* Clase de grilla para el Icono en el encabezado */
.icono {
    display: grid;
    grid-column-end: span 4;
    align-items: center;
    justify-items: center;
}

.icono img {
    border-radius: 50%;
    padding-top: 10px;
    /* redondeo de imagen - separación sup */
}

.icono h1{
    /* color de la fuente del logo */
    color: rgb(185,139,10);;
    /* color: var(--glow-color);   */
    
}


/* Clase de Grilla para el menu de navegación */
.navegar {

    display: grid;
    grid-column-end: span 8;
    grid-column-start: 5;
}

.navegar a, .navegar ul, .navegar li, .glowing-btn {
    /* muestra menu horizon-saca bullets-saca hipervinculo-margen 0 arribay abajo y 10px entre items */
    display: inline-block;
    list-style: none;
    text-decoration: none;
    /* Color fuente botón de navegación */
    color: rgb(255, 255, 255);
    align-content: center;
    justify-content: center;
    font-size: 1.4vw;
    
}

.navegar li:hover {
    /* Transformación al pasar el mouse */
    transform: scale(1.15);
}


/* Main */

/* Clase de grilla para las comidas de "para picar" */

.tarjetacomida  {
    display: grid;
    grid-column-end: span 4;
    border-radius: 2em;
    text-align: center;
    justify-items: center;
    position: relative;
    line-height: 1.4;
}

.tarjetacomida h2{
    margin-bottom: 0;
    color: rgb(185, 139, 10);
}

.tarjetacomida p{
    margin-top: 0;
    color:#c09393;
}

.tarjetacomida li{
    /* Color fuente de título de "Para Picar" */
    color:#c09393;
    list-style: none;
}

.tarjetacomida img:hover {
    object-fit: cover;
    transition: 0.5s;
    transform: scale(1.1)
    /* transformación sobre foto de producto */
    
}

/* FIN Clase de grilla para las comidas de "para picar" */

/* Clase de grilla para las cervezas de "variedades" */

.tarjeta  {
    display: grid;
    grid-column-end: span 4;
    border-radius: 2em;
    text-align: center;
    justify-items: center;
    position: relative;
}

.descript{
    display:none;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 30%;
    line-height: 1.4;
    /* descripción sobre imagen */
}

.tarjeta .descript li{
    /* color y tamaño de la fuente para la descripción de las cerveza de "variedades" */
    /* Se probó todos los colores de la página, el único que se lee bien es blanco */
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    
}

.tarjeta h2{
    margin-bottom: 0;
    color: rgb(185, 139, 10);
}

.tarjeta p{
    margin-top: 0;
    /* color fuente de: amargor, frio, etc de "variedades" */
    color:#c09393;
}

.tarjeta li{
    /* Color fuente de título de "variedades" */
    /* color:rgb(138, 105, 105); */
    color:#c09393;
    list-style: none;
}


.tarjeta:hover .descript{
    display: block;
    /* muestra descripción cuando paso el mouse sobre contenedor*/
}

.tarjeta img:hover {
    object-fit: cover;
    transition: 0.5s;
    transform: scale(1.1)
    /* transformación sobre foto de producto */
    
}

/* FOOTER */

.pie {
    display: grid;
    grid-column-end: span 12;
    list-style: none;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    
    
}

.copyright{

    display: grid;
    grid-column-end: span 12;
    text-align: center;
    padding: 0;
    font-size: 0.9vw;
}

/* FIN FOOTER */

/* Visitanos */
.mapa{
    display: grid;
    grid-column-end: span 7;
    
}

iframe {

    overflow-clip-margin: content-box;
    overflow: clip;
    overflow: hidden;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;

}

.cercade{
    display: grid;
    grid-column-end: span 5;
    line-height: 1.4;
    
}

.cercade h3, ul, ol{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
    
}

.cercade li {
    
    color: azure;
    font-size: 2vw;
}

.cercade a{
    text-decoration: none;
    color:rgb(197, 60, 129);
    font-size: 2vw;
}

/* FIN Visitanos */

/* IMAGANES DE INDEX */

.imagenbar{
    
    display: grid;
    height: 100%;
    grid-column-end: span 6;
    place-content: center;
     
}

.textbar{

    display: grid;
    color: rgb(185, 139, 10);
    grid-column-end: span 6;
    place-content: center;
    line-height: 1.7;

}
/* FIN INDEX */

/* ESTILO PARA FORMULARIOS */

#miFormulario {
    max-width: 400px;
    /* max-height: 42; */
    margin: 0 auto;
}
#miFormulario input, textarea, select {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.25em solid rgb(185,139,10);
    border-radius: 0.45em;
}

#miFormulario option, select, input, #comentario {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: oblique;
    
}

#comidas, #bebidas {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color:rgb(185,139,10);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/* FIN ESTILO PARA FORMULARIOS */

/* EFECTO BOTONES MENU */

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {

    --glow-color: rgb(185,139,10);
  
}

.glowing-btn {
  position: relative;
  /* color: rgb(185,139,10); */
  color: rgb(255,255,255);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid rgb(185,139,10);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.4vw;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px rgb(185,139,10),
    0px 0px 0.5em 0px rgb(185,139,10);
  -moz-box-shadow: inset 0px 0px 0.5em 0px rgb(185,139,10),
    0px 0px 0.5em 0px rgb(185,139,10);
  box-shadow: inset 0px 0px 0.5em 0px rgb(185,139,10),
    0px 0px 0.5em 0px rgb(185,139,10);
  
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  /* este background es el color del sombreado de los botones */
  /* background: rgb(185,139,10); */
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  /* El de abajo es el color del relleno del botón al pasar el mouse */
  background: rgb(185,139,10);
  /* El de abajo es el color del sombreado de los botones */
  /* box-shadow: 0 0 2em 0.2em rgb(185,139,10); */
  transition: opacity 100ms linear;
  border-radius: 0.45em;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}


.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
/* FIN EFECTO BOTONES MENU */


/* Configuraciones responsive */
@media (max-width: 768px){
    
    /* .navegar{
        grid-template-rows: auto;
    } */

    .navegar a, .navegar ul, .navegar li {
    
        display: list-item;
        align-content: start;
        margin: 5px 5px;
        font-size: 110%;

    }

    .icono img {
        
        width: 90%;
        height: 90%;
        overflow: auto;
    
    }

    .navegar {

        grid-column-end: span 7;
        grid-column-start: 8;

    }

    .icono {

        grid-column-end: span 5;
        grid-column-start: 2;

    }
     
    .tarjeta {
        
        grid-column-end: span 6;
        font-size: 210%;
        
    }

    .tarjetacomida {
        
        grid-column-end: span 12;
        font-size: 210%;
        
    }

    .mapa {
        grid-column-end: span 12;
    }

    .cercade {
        
        grid-column-end: span 12;
        font-size: 100%;

    }

    .imagenbar {

        display: grid;
        grid-column-end: span 12;
        place-content: center;

    }

    .textbar {

        display: grid;
        grid-column-end: 12;
        justify-content: left;
        grid-column-start: 1;
        font-size: 210%;

    }

    .tarjeta .descript li {
        
        font-size: 100%;
        
    }

    #miFormulario {
        max-width: auto;
        margin: 0 auto;
    }

}

/* FIN Configuraciones responsive */